.section-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem 1rem;
  max-width: var(--site-min-width);
  margin: 0 auto;
}

.section__title {
  font-family: var(--title-font);
  text-transform: uppercase;
  font-size: 2.5rem;
}

.section__title--border {
  height: 10px;
  width: 4rem;
  background-color: var(--brown-color);
  margin-top: var(--s0);
}

.textLink {
  color: rgb(66, 154, 184);
  text-decoration: underline;
  white-space: nowrap;
  cursor: pointer;
}

.textLink:hover {
  filter: brightness(140%);
}